.navbar {
}

.navbar__list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar__item {
  margin: 0;
  padding: 0;
}

.navbar__link {
  text-decoration: none;
  color: #ffffff;
}
